<a href="https://colab.research.google.com/github/MattJCR/PIA/blob/master/Curso_de_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Curso de PYTHON

**Use of print**

In [ ]:
a = "Hola"
b = "mundo"

In [ ]:
print(a,b)
print(a+b)
print(a + " " + b)

Hola mundo
Holamundo
Hola mundo

**Data Types and Variables**

* Numbers

In [ ]:
# INTEGER
print(10)  # A positive integer
print(-3000)  # A negative integer

num = 123456789  # Assigning an integer to a variable
print(num)
num = -16000  # Assigning a new integer
print(num)

# FLOAT
print(1.00000000005)  # A positive float
print(-85.6701)  # A negative float

flt_pt = 1.23456789
print(flt_pt)

# COMPLEX
# It requires two values. The first one will be the real 
# part of the complex number, while the second value will 
# be the imaginary part.
print(complex(10, 20))  # Represents the complex number (10 + 20j)
print(complex(2.5, -18.2))  # Represents the complex number (2.5 - 18.2j)

complex_1 = complex(0, 2)
complex_2 = complex(2, 0)
print(complex_1)
print(complex_2)

* Boolean

In [ ]:
print(True) # Represents the Boolean True value

f_bool = False # Represents the Boolean False value
print(f_bool)

* String

In [ ]:
# Simple string
print("Harry Potter!")  # Double quotation marks

got = 'Game of Thrones...'  # Single quotation marks
print(got)
print("$")  # Single character

empty = ""
print(empty)  # Just prints an empty line

# To add a multi-line string we can use triple quotes.
multiple_lines = '''Triple quotes allows
multi-line string.'''
print(multiple_lines)

# Length of a String
random_string = "I am Batman"  # 11 characters
print(len(random_string))

# Indexing and accesing characters
batman = "Bruce Wayne"

first = batman[0]  # Accessing the first character
print(first)

space = batman[5]  # Accessing the empty space in the string
print(space)

last = batman[len(batman) - 1]
print(last)
# The following will produce an error since the index is out of bounds
# err = batman[len(batman)]

# Reverse Indexing
batman = "Bruce Wayne"
print(batman[-1])  # Corresponds to batman[10]
print(batman[-5])  # Corresponds to batman[6]

# String immutability
string = "Immutability"
string[0] = 'O' # Will give error
# The above code gives TypeError because Python doesn’t 
# support item assignment in case of strings.

str1 = "hello"
print(id(str1))
print(str1)
str1 = "bye"
print(id(str1))
print(str1)
# Remember, assigning a new value to string variable 
# doesn’t mean that you’ve changed the value.

* NoneType

In [ ]:
val = None
print(val) # prints "None" and returns None
print (type(val))
# Important Points
# None is not a default value for the variable that has not yet been assigned a value.
# None is not the same as False.
# None is not an empty string.
# None is not 0.

* String Slicing

In [ ]:
# Slicing
# Slicing is the process of obtaining a portion (substring) of a string by using its indices.
my_string = "This is MY string!"
print(my_string[0:4]) # From the start till before the 4th index
print(my_string[1:7])
print(my_string[8:len(my_string)]) # From the 8th index till the end

# Slicing with a Step
# slice a string by defining a step through which we can skip characters in the string.
my_string = "This is MY string!"
print(my_string[0:7])  # A step of 1
print(my_string[0:7:2])  # A step of 2
print(my_string[0:7:5])  # A step of 5

# Reverse Slicing
# Strings can also be sliced to return a reversed substring.
my_string = "This is MY string!"
print(my_string[13:2:-1]) # Take 1 step back each time
print(my_string[17:0:-2]) # Take 2 steps back. The opposite of what happens in the slide above

# Partial  Slicing
# One thing to note is that specifying the start and end indices is optional.
my_string = "This is MY string!"
print(my_string[:8])  # All the characters before 'M'
print(my_string[8:])  # All the characters starting from 'M'
print(my_string[:])  # The whole string
print(my_string[::-1])  # The whole string in reverse (step is -1)

* String Formatting

In [ ]:
# Inserting String within a String
string1 = "I like %s" % "Python"
print(string1) # 'I like Python'

temp = "Educative"
string2 = "I like %s" % temp
print(string2) # 'I like Educative'

string3 = "I like %s and %s" % ("Python", temp)
print(string3)  # 'I like Python and Educative'

# Inserting Integers Within a String
my_string = "%i + %i = %i" % (1,2,3)
print(my_string) # '1 + 2 = 3'

# Inserting Floats Within a String
string1 = "%f" % (1.11)
print(string1) # '1.110000'

string2 = "%.2f" % (1.11) # 2f Round the number to two decimal
print(string2) # '1.11'

string3 = "%.2f" % (1.117)
print(string3) # '1.12'

**Operators**

* Arithmetic Operators

In [ ]:
# Addition 
print(10 + 5)

# Subtraction 
print(10 - 5)

# Multiplication 
print(40 * 10)

# Division 
print(40 / 10)

# Floor Division 
# The result is floored to the nearest smaller integer.
print(43 // 10)
print(5.5 // 4.5)
print(12.4 // 2)

# Modulo 
print(10 % 2)

# Different precedence
print(10 - 3 * 2)  # Multiplication computed first, followed by subtraction

# Same precedence
print(3 * 20 / 5)  # Multiplication computed first, followed by division
print(3 / 20 * 5)  # Division computed first, followed by multiplication

# Parentheses 
print((10 - 3) * 2)  # Subtraction occurs first

* Comparison Operators

In [ ]:
num1 = 5
num2 = 10
num3 = 10
list1 = [6,7,8]
list2 = [6,7,8]

print(num2 > num1)  # 10 is greater than 5
print(num1 > num2)  # 5 is not greater than 10

print(num2 == num3)  # Both have the same value
print(num3 != num1)  # Both have different values

print(3 + 10 == 5 + 5)  # Both are not equal
print(3 <= 2)  # 3 is not less than or equal to 2

print(num2 is not num3)  # Both have the same object
print(list1 is list2)  # Both have the different objects

* Assignment Operators

In [ ]:
# Assigning Values
year = 2019
print(year)
year = year + 1  # Using the existing value to create a new one
print(year)
num = 10
print(num)

# Add and Assign
num += 5
print(num)

# Subtract and Assign
num -= 5
print(num)

# Multiply and Assign
num *= 2
print(num)

# Divide and Assign
num /= 2
print(num)

# You can use the others operators

* Logical Operators

In [ ]:
# OR Expression
my_bool = True or False
print(my_bool)

# AND Expression
my_bool = True and False
print(my_bool)

# NOT expression
my_bool = False
print(not my_bool)

# Bit Value
# In bit terms, the value of True is 1. False corresponds to 0.
print(10 * True) # 10
print(10 * False) # 0

* Bitwise Operators

In [ ]:
num1 = 10  # Binary value = 01010
num2 = 20  # Binary Value = 10100

print(num1 & num2)   # 0   -> Binary value = 00000
print(num1 | num2)   # 30  -> Binary value = 11110
print(num1 ^ num2)   # 30  -> Binary value = 11110
print(~num1)         # -11 -> Binary value = -(1011)
print(num1 << 3)     # 80  -> Binary value = 0101 0000
print(num2 >> 3)     # 2   -> Binary value = 0010

* String Operations

In [ ]:
# Comparison Operators
print('a' < 'b')  # 'a' has a smaller Unicode value

house = "Gryffindor"
house_copy = "Gryffindor"

print(house == house_copy)

new_house = "Slytherin"

print(house == new_house)

print(new_house <= house)

print(new_house >= house)

# Concatenation 
first_half = "Bat"
second_half = "man"

full_name = first_half + second_half
print(full_name)

# The * operator allows us to multiply a string, resulting in a repeating pattern.
print("ha" * 3)

#Search 
random_string = "This is a random string"

print('of' in random_string)  # Check whether 'of' exists in randomString
print('random' in random_string)  # 'random' exists!

* Grouping Values

In [ ]:
# Making a List
my_list = [1, 2.5, "A string", True]
print(my_list)
print(my_list[2]) # Get A String
print(len(my_list)) # 4 elements

**Conditional Statements**

* If Statement

In [ ]:
# The Flow of an if Statement
num = 5

if (num == 5):  # The condition is true
    print("The number is equal to 5")  # The code is executed

if num > 5:  # The condtion is false
    print("The number is greater than 5")  # The code is not executed

# Conditions with Logical Operators
num = 12

if num % 2 == 0 and num % 3 == 0 and num % 4 == 0:
    # Only works when num is a multiple of 2, 3, and 4
    print("The number is a multiple of 2, 3, and 4")

if (num % 5 == 0 or num % 6 == 0):
    # Only works when num is either a multiple of 5 or 6
    print("The number is a multiple of 5 and/or 6")

# Nested if Statements
num = 63

if num >= 0 and num <= 100:
    if num >= 50 and num <= 75:
        if num >= 60 and num <= 70:
            print("The number is in the 60-70 range")

* The if-else Statement

In [ ]:
num = 60

if num <= 50:
    print("The number is less than or equal to 50")
else:
    print("The number is greater than 50")

* The if-elif-else Statement

In [ ]:
light = "Red"

if light == "Green":
    print("Go")

elif light == "Yellow":
    print("Caution")

elif light == "Red":
    print("Stop")

else:
    print("Incorrect light signal")

**Functions**

* Function Creation

In [ ]:
# Funtion without Parameters
def my_print_function():  # No parameters
    print("This")
    print("is")
    print("A")
    print("function")
# Function ended


my_print_function() # Calling the function in the program multiple times
my_print_function()

# Function Parameters
def minimum(first, second):
    if (first < second):
        print(first)
    else:
        print(second)


num1 = 10
num2 = 20


minimum(num1, num2) # Calling the function with parameters

# The return Statement
def minimum(first, second):
    if (first < second):
        return first
    return second

num1 = 10
num2 = 20

result = minimum(num1, num2)  # Storing the value returned by the function
print(result)

* Function Scope

In [ ]:
# Data Lifecycle
name = "Ned"

def func():
    name = "Stark"

func()
print(name)  # The value of 'name' remains unchanged.

Ned

* Altering Data

In [ ]:
num_list = [10, 20, 30, 40]
print(num_list)


def multiply_by_10(my_list):
    my_list[0] *= 10
    my_list[1] *= 10
    my_list[2] *= 10
    my_list[3] *= 10


multiply_by_10(num_list)
print(num_list)  # The contents of the list have been changed

* Strings.Find

In [ ]:
random_string = "This is a string"
print(random_string.find("is"))  # First instance of 'is' occurs at index 2
print(random_string.find("is", 9, 13))  # No instance of 'is' in this range

* Strings.Replace

In [ ]:
a_string = "Welcome to Educative!"
new_string = a_string.replace("Welcome to", "Greetings from")
print(a_string)
print(new_string)

* Changing the Letter Case

In [ ]:
print("UpperCase".upper())
print("LowerCase".lower())

* Joining strings

In [ ]:
llist = ['a', 'b', 'c']
print('>>'.join(llist)) # joining strings with >>
print('<<'.join(llist)) # joining strings with <<
print(', '.join(llist)) # joining strings with comma and space

* Formatting

In [ ]:
string1 = "Learn Python {version} at {cname}".format(version = 3, cname = "Educative")
string2 = "Learn Python {0} at {1}".format(3, "Educative")
string3 = "Learn Python {} at {}".format(3, "Educative")

print(string1)
print(string2)
print(string3)

* Type Conversions

In [ ]:
# int
print(int("12") * 10)  # String to integer
print(int(20.5))  # Float to integer
print(int(False))  # Bool to integer
# print (int("Hello")) # This wouldn't work!

# ord
# Convert a character to its Unicode value
print(ord('a'))
print(ord('0'))

# float
print(float(24))
print(float('24.5'))
print(float(True))

# str
print(str(12) + '.345')
print(str(False))
print(str(12.345) + ' is a string')

# bool
print(bool(10)) # True
print(bool(0.0)) # False
print(bool("Hello")) # True
print(bool("")) # False

* Input From the User

In [1]:
name = input("What is your name? ")
print("\nHello,", name)

What is your name? a

Hello, a

* Lambdas

In [ ]:
# A lambda is an anonymous function that returns some form of data

triple = lambda num : num * 3  # Assigning the lambda to a variable
print(triple(10))  # Calling the lambda and giving it a parameter

concat_strings = lambda a, b, c: a[0] + b[0] + c[0]
print(concat_strings("World", "Wide", "Web"))

my_func = lambda num: "High" if num > 50 else "Low"
print(my_func(60))

* Functions as Arguments

In [3]:
# Using Simple Functions
def add(n1, n2):
    return n1 + n2

def subtract(n1, n2):
    return n1 - n2

def multiply(n1, n2):
    return n1 * n2

def divide(n1, n2):
    return n1 / n2

def calculator(operation, n1, n2):
    return operation(n1, n2)  # Using the 'operation' argument as a function

result = calculator(multiply, 10, 20)
print(result)
print(calculator(add, 10, 20))

# Using Lambdas
def calculator(operation, n1, n2):
    return operation(n1, n2)  # Using the 'operation' argument as a function

# 10 and 20 are the arguments.
result = calculator(lambda n1, n2: n1 * n2, 10, 20)
# The lambda multiplies them.
print(result)
print(calculator(lambda n1, n2: n1 + n2, 10, 20))

# map() to double the values of an existing list
num_list = [0, 1, 2, 3, 4, 5]
double_list = map(lambda n: n * 2, num_list)
print(list(double_list))

# filter() filters elements from a list if the elements satisfy the condition that is specified in the argument function
numList = [30, 2, -15, 17, 9, 100]
greater_than_10 = list(filter(lambda n: n > 10, numList))
print(greater_than_10)

200
30
200
30

* Recursion

In [ ]:
# A function which decrements a number recursively until the number becomes 0
def rec_count(number):
    print(number)
    # Base case
    if number == 0:
        return 0
    rec_count(number - 1)  # A recursive call with a different argument
    print(number)

rec_count(5)

# The Fibonacci sequence
def fib(n):
    # The base cases
    if n <= 1:  # First number in the sequence
        return 0
    elif n == 2:  # Second number in the sequence
        return 1
    else:
        # Recursive call
        return fib(n - 1) + fib(n - 2)

print(fib(6))

**Loops**

* The for Loop

In [ ]:
for i in range(1, 11):  # A sequence from 1 to 10
    if i % 2 == 0:
        print(i, " is even")
    else:
        print(i, " is odd")

for i in range(1, 11, 3):  # A sequence from 1 to 10 with a step of 3
    print(i)

# Looping Through a List/String
float_list = [2.5, 16.42, 10.77, 8.3, 34.21]
print(float_list)
for i in range(0, len(float_list)):  # Iterator traverses to the last index of the list
    float_list[i] = float_list[i] * 2
print(float_list)

* Nested Loops

In [ ]:
n = 50
num_list = [10, 25, 4, 23, 6, 18, 27, 47]

# The simplest way would be to compare every element with the rest of the list
for n1 in num_list:
    for n2 in num_list:  # Now we have two iterators
        if(n1 != n2):
            if(n1 + n2 == n):
                print(n1, n2)

* The break Keyword

In [ ]:
n = 50
num_list = [10, 25, 4, 23, 6, 18, 27, 47]
found = False  # This bool will become true once a pair is found

for n1 in num_list:
    for n2 in num_list:
        if(n1 != n2):
            if(n1 + n2 == n):
                found = True  # Set found to True
                break  # Break inner loop if a pair is found
    if found:
        print(n1, n2) # Print the pair
        break  # Break outer loop if a pair is found

* The continue Keyword

In [ ]:
num_list = list(range(0, 10))
# When the continue keyword is used, the rest of that particular iteration is skipped
for num in num_list:
    if num == 3 or num == 6 or num == 8:
        continue
    print(num)

* The pass Keyword

In [ ]:
num_list = list(range(20))
# In all practical meaning, the pass statement does nothing to the code execution
for num in num_list:
    pass # You can write code here later on

print(len(num_list))

* The while Loop

In [ ]:
n = 2  # Could be any number
power = 0
val = n
# Finds out the maximum power of n before the value exceeds 1000
while val < 1000:
    power += 1
    val *= n
print(power)

# The following loop computes the sum of the first and the last digits of any integer
n = 249
last = n % 10  # Finding the last number is easy
first = n  # Set it to `n` initially
while first >= 10:
    first //= 10  # Keep dividing by 10 until the leftmost digit is reached.

result = first + last
print(result)

**Python Standard Library**

The Python Standard Library, PSL, is a collection of pre-defined modules, or sets of methods which help us perform certain tasks in Python.

In [ ]:
# import the datetime module which contains several methods related to the current date and time

import datetime # Importing modules at the beginning of the program is a good practice

date_today = datetime.date.today()  # Current date
print(date_today)

time_today = datetime.datetime.now()
print(time_today.strftime("%H:%M:%S"))  # Current time

If we only want a particular class from a module, we can use the from keyword in the following format

In [ ]:
from datetime import date

# Now we only have the methods of the date class
date_today = date.today()  # Current date
print(date_today)

# These won't work
# time_today = datetime.datetime.now()
# print (time_today.strftime("%H:%M:%S"))# Current time

* Popular Modules

In [ ]:
# The math module offers a wide range of mathematical functions such as factorial, trigonometric operations, etc.
import math

fact_of_5 = math.factorial(5)  # The factorial of 5
print(fact_of_5)

gcd = math.gcd(300, 90)  # Greatest common denominator
print(gcd)

log100 = (math.log(10, 100))  # Logarithm of 10 to the base of 100
print(log100)

In [ ]:
# The heapq module allows us to create the heap data structure.
import heapq

heap = []  # Empty heap

# Inserting elements in the heap
heapq.heappush(heap, 10)
heapq.heappush(heap, 70)
heapq.heappush(heap, 5)
heapq.heappush(heap, 35)
heapq.heappush(heap, 50)

# Popping the smallest value
minimum = heapq.heappop(heap)
print(minimum)

In [ ]:
# The random module is used for generating random numbers in Python.
import random

rand_num = random.random()
print(rand_num)

rand_num_in_range = random.uniform(30, 50)  # A random number between 30 and 50
print(rand_num_in_range)

str_list = ['a', 'b', 'c', 'd', 'e']
random.shuffle(str_list)  # Randomly shuffle a list
print(str_list)

**PyPI**

ython has a standard library that contains many different modules which serve different purposes. However, we are not limited to these modules.

Developers from all over the world have contributed to increasing the functionality of Python through packages.

Packages are also collections of modules or smaller packages that assist us in performing certain tasks. The only difference is that these packages have to be installed before they can be imported.

**Python IDEs**

An Integrated Development Environment (IDE) is a software package which allows us to code in a certain language or environment. It is isolated from the rest of our system, making it safe and easy to use.

* **PyCharm**: is perhaps the most widely used Python IDE. It has both free and paid versions.

* **IDLE**: is one of the simplest Python IDEs out there. With a user-friendly interface and all the basic tools of Python, it is a very good option for pure beginners who want to write simple programs.

* **Spyder**: This open source IDE is a personal favorite for many developers. Spyder comes equipped with all the smart coding features such as formatting, highlighting, and debugging.

While IDEs are easy to use, there are certain limitations.

* They are not always updated with the latest features of the language.

* An IDE is not a good option if we want to understand the inner workings of a language (which would make us better developers).

* Several IDEs face performance issues.

* Integration with other frameworks may be difficult.